/* About page styles */
#about section#hero,
#about section#mission {
    background-color: var(--secondary-blue);
}

#about section#hero section {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
}

@media screen and (max-width: 900px) {
    #about section#hero section {
        flex-direction: column-reverse;
    }
}

#about section#hero section article {
    display: grid;
    gap: 20px;
    align-items: flex-start;
    max-width: 460px;
    width: 100%;
    flex: none;
}

#about section#hero section article h2 {
    font-size: 34px;
    font-weight: 700;
}

#about section#hero section article p {
    font-size: 20px;
    font-weight: 500;
}

#about section#hero section .hero-image-wrapper {
    width: 100%;
}

#about section#mission section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 900px) {
    #about section#mission section {
        flex-direction: column;
        gap: 50px;
    }
}

#about section#mission section p {
    max-width: 480px;
    font-size: 20px;
    font-weight: 500;
}

#about section#free-templates {
    overflow: hidden;
}

#about section#free-templates button {
    display: block;
    margin: 0 auto;
}

#about section#get-started section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 900px) {
    #about section#get-started section {
        flex-direction: column-reverse;
        gap: 50px;
    }
}

#about section#get-started section article {
    max-width: 592px;
    display: grid;
    gap: 20px;
}
#about section#get-started section article h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
}

#about section#get-started section article p {
    max-width: 529px;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
}
/* About page styles End...... */
