:root {
    --clr-pry-blue: #0E83B5;
    --clr-white: #FFFCF5;
    --clr-gray: #4C494D;
    
    --padding-btn: 14px 20px;

    --border-input: 5px;
}

.main-section {
    display: unset;
}

.main-section button {
    font-family: inherit;
    font-size: 14px;
    background: var(--clr-pry-blue);
    color: var(--clr-white);
    padding: var(--padding-btn);
    border: none;
    border-radius: var(--border-input);
    outline: none;
    width: 110px;
}

h1 {
    font-size: 34px;
}

/* ==== Pages Control ==== */
.pages-control {
    margin-bottom: 1rem;
}

.pages-control h1 {
    margin-bottom: 1rem;
}

.pages-control .form-row {
    display: flex;
    justify-content: space-between;
}

.pages-control .form-row form input,
select {
    padding: 13px;
    font-size: 16px;
    border-radius: var(--border-input);
    border: 1px solid var(--clr-pry-blue);
    color: var(--clr-pry-blue);
}

.pages-control .form-row form {
    position: relative;
}

.pages-control .form-row form input {
    width: 280px;
    margin-right: 10px;
    padding-left: 40px;
}

.pages-control .form-row form img {
    /* color: var(--clr-pry-blue); */
    width: 25px;
    position: absolute;
    top: 26%;
    left: 12px;
}

/* Pages filter control */
.pages-filter-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pages-filter-control button {
    margin-left: 10px;
}

.pages-filter-control p {
    font-size: 20px;
}

/* ==== Pages Container ==== */
.pages-container {
    display: block;
    margin-top: 2rem;
}

.pages-container .pages-summary {
    display: flex;
    margin-block: 13px;
}

.pages-container .pages-summary p {
    display: inline-block;
    padding-inline: 1rem;
}

.pages-container .pages-summary p:first-child {
    padding-left: 0;
}

.pages-container .pages-summary p:nth-child(2) {
    border-inline: 1px solid var(--clr-gray);
}


/* ==== TABLE ===== */
table {
    border: 1px solid var(--clr-pry-blue);
    border-radius: 10px;
    width: 100%;
    font-size: 16px;
    font-family: inherit;
    border-spacing: 0;
    margin-block: 1.5rem;
}

thead {
    color: var(--clr-pry-blue);
    font-size: 20px;
}

thead td {
    border-bottom: 1px solid var(--clr-pry-blue);
}

thead img {
    width: 30px;
}

td {
    padding: 14px 24px;
    
}

tbody span {
    color: var(--clr-pry-blue);
}

table input[type=checkbox] {
    width: 30px;
    height: 30px;
    margin-right: 14px;
}

tr td:first-child {
    display: flex;
    align-items: center;
}

td:has(p) p:first-child {
    margin-bottom: 4px;
}