@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
    --primary-blue: #0e83b5;
    --primary-dark-blue: #052c3c;

    --secondary-blue: #f2f5ff;

    --grey-200: #b7b6b8;
    --grey-300: #939294;
}

@layer base {
    *,
    html,
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h5 {
        font-family: Montserrat, sans-serif;
    }

    body,
    p {
        font-family: Roboto, sans-serif;
    }

    img,
    video {
        width: 100%;
    }
}

@layer utility {
    .container {
        max-width: 1300px;
        padding: 0px 20px;
        margin: 0 auto;
    }
}

@layer components {
    .btn {
        padding: 16px 18px;
        border-radius: 4px;
        box-shadow: 0px 6px 30px rgba(14, 131, 181, 0.12);
        background: var(--primary-blue);
        color: white;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        cursor: pointer;
        width: max-content;
        border: none;
    }

    .btn.btn-primary {
        background: var(--primary-blue);
    }

    section,
    footer {
        padding: 70px 0;
    }

    .section-header {
        text-align: center;
        max-width: 1150px;
        margin: 0 auto;
        font-size: 48px;
        margin-bottom: 50px;
    }
}

/* Header Styles, common for all the headers */
header {
    padding: 20px 0;
    background-color: white;
}

header .header-content-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo div {
    display: flex;
    flex-direction: column;
}

.logo div span:first-child {
    font-size: 22px;
    color: var(--primary-blue);
}
.logo div span:last-child {
    font-size: 12px;
}

header nav ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}
header nav ul li {
    padding: 8px 16px;
    font-size: 20px;
    font-weight: 700;
    color: var(--grey-300);
}

header nav ul li.active {
    color: black;
}

@media screen and (max-width: 900px) {
    header nav {
        position: fixed;
        inset: 0;
        display: grid;
        place-items: center;
        width: 100%;
        height: 100%;
        background-color: white;
        transform: translateX(100%);
        transition: transform 1s ease-out;
        padding: 50px 0;
    }
    header nav.open {
        transform: translateX(0%);
    }

    header nav ul {
        flex-direction: column;
        height: 100%;
        gap: 20px;
        align-items: center;
        justify-content: space-around;
    }
}

header .menu {
    display: none;
    width: 30px;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    cursor: pointer;
    z-index: 99;
    position: relative;
}

@media screen and (max-width: 900px) {
    header .menu {
        display: flex;
    }
}

header .menu span {
    height: 3px;
    width: 100%;
    display: block;
    background-color: black;
    transition: 300ms ease-out;
    transform-origin: center;
}

header .menu.open span:first-child {
    rotate: 45deg;
    translate: 0px 7.5px;
}
header .menu.open span:nth-child(2) {
    opacity: 0;
}
header .menu.open span:last-child {
    rotate: -45deg;
    translate: 0px -7.5px;
}

/* Footer Styles, common for all the footers */
footer {
    background-color: var(--primary-dark-blue);
}

footer > div {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

footer .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (max-width: 900px) {
    footer .top {
        flex-direction: column;
        gap: 50px;
    }
}

footer .top nav {
    display: flex;
    gap: 30px;
    color: white;
}

footer .top nav ul {
    list-style-type: none;
    display: grid;
    gap: 16px;
}

footer .top nav ul li {
    color: var(--grey-200);
}

footer .top section {
    padding: 0;
    color: white;
    flex: 1;
    max-width: 420px;
}
footer .top section h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 20px;
}

footer .top section form {
    border: 1px solid var(--primary-blue);
    display: flex;
    gap: 20px;
    align-items: center;
}

footer .top section form input {
    background-color: transparent;
    outline: none;
    height: 100%;
    width: 100%;
    border: none;
    color: white;
    margin-left: 10px;
}

footer .top section form input::placeholder {
    font-weight: 700;
    color: var(--grey-300);
}

footer .top section form button {
    color: white;
    background-color: var(--primary-blue);
    padding: 16px 18px;
    border: none;
}

footer .bottom {
    display: flex;
    align-items: center;
    gap: 30px;
    color: white;
}

/* Swiepr in about page */
#about .swiper {
    overflow: visible;
    margin-bottom: 100px;
}

#about .swiper .swiper-pagination {
    bottom: -70px;
}

#about .swiper .swiper-pagination .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    margin: 0px 7.5px;
}
