.food {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 150%;

  letter-spacing: 0.25px;

  color: #000000;
}

.swiper {
  margin-top: 60px;
}
