.hero {
  text-align: center;
}

.hero h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  color: #000000;
}

.hero p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #706e70;
}

.plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-left: 680px;
  margin-right: 680px;
}

.monthlyplan {
  padding: 14px 57px;
  gap: 10px;
  width: 247px;
  height: 58px;
  background: #0e83b5;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
}

.yearlyplan {
  padding: 14px 57px;
  gap: 10px;
  width: 247px;
  height: 58px;
  background: #ffffff;
  border: 2px solid #0e83b5;
  border-radius: 10px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 1.25px;
  color: #0e83b5;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-left: 300px;
  margin-right: 300px;
}

.basic {
  padding-top: 40px;
  text-align: center;
  width: 410px;
  height: 447px;
  border-radius: 5px;
  background-color: #eef3fe;
}

.content1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #141315;
}
.content2 {
  margin-top: 60px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #0d0c0e;
}

.content2 span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  text-align: center;
  letter-spacing: 0.5px;
  color: #211f22;
}

.basiclist {
  margin-top: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  text-align: center;
  letter-spacing: 0.5px;
  color: #211f22;
  list-style: none;
}

.btn_getstarted {
  padding: 16px 18px;
  gap: 8px;
  position: relative;
  top: 20;
  width: 200px;
  height: 62px;
  background-color: transparent;
  border: 3px solid #0e83b5;
  filter: drop-shadow(0px 6px 30px rgba(14, 131, 181, 0.12));
  border-radius: 5px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 1.25px;
  color: #0e83b5;
}

.standard {
    padding-top: 40px;
    text-align: center;
    width: 410px;
    height: 447px;
    border-radius: 5px;
    background-color: #eef3fe;
}

.standardcontent {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #141315;
  }
  .standardcontent2 {
    margin-top: 38px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #0d0c0e;
  }
  
  .standardcontent2 span {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    text-align: center;
    letter-spacing: 0.5px;
    color: #211f22;
  }
  
  .basiclist2 {
    margin-top: 20px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    text-align: center;
    letter-spacing: 0.5px;
    color: #211f22;
    list-style: none;
  }
  
  .btn_getstarted2 {
    padding: 16px 18px;
    gap: 8px;
    position: relative;
    top: 20;
    width: 200px;
    height: 62px;
    background-color: #0E83B5;
    border: 3px solid #0e83b5;
    filter: drop-shadow(0px 6px 30px rgba(14, 131, 181, 0.12));
    border-radius: 5px;
  
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 1.25px;
    color: #ffffff;
  }


.business {
    padding-top: 38px;
    text-align: center;
    width: 410px;
    height: 447px;
    border-radius: 5px;
    background-color: #eef3fe;
}

.businesscontent {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #141315;
  }
  .businesscontent2 {
    margin-top: 20px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #0d0c0e;
  }
  
  .businesscontent2 span {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    text-align: center;
    letter-spacing: 0.5px;
    color: #211f22;
  }
  
  .basiclist3{
    margin-top: 15px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    text-align: center;
    letter-spacing: 0.5px;
    color: #211f22;
    list-style: none;
  }
  
  .btn_getstarted3 {
    padding: 16px 18px;
  gap: 8px;
  position: relative;
  top: 20;
  width: 200px;
  height: 62px;
  background-color: transparent;
  border: 3px solid #0e83b5;
  filter: drop-shadow(0px 6px 30px rgba(14, 131, 181, 0.12));
  border-radius: 5px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 1.25px;
  color: #0e83b5;
}