<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/assets/css/dashboard.css" />
        <title>Dashboard | Panther CMS</title>
    </head>

    <body>
        <!-- Header part of the dashboard -->
        <header>
            <div>
                <div class="logo">
                    <img src="/assets//images/logo.svg" alt="Panther Site Builder logo" />
                    <div>
                        <span>Panther</span>
                        <span>Site Builder</span>
                    </div>
                </div>
                <span class="pipe"></span>
                <select>
                    <option value="">Manage Sites</option>
                </select>
                <span class="pipe"></span>
                <select>
                    <option value="">Explore</option>
                </select>
                <span class="pipe"></span>
                <select>
                    <option value="">Help</option>
                </select>
            </div>
            <div>
                <div class="input-wrapper">
                    <img src="/assets/images/search.svg" alt="search icon" />
                    <input type="search" placeholder="Search" />
                </div>
                <span class="pipe"></span>
                <img src="/assets/images/bell.svg" alt="bell icon" class="bell" />
                <span class="pipe"></span>
                <img
                    src="/assets/images/testimonial-2.png"
                    alt="profile image"
                    class="profile-image"
                />
            </div>
        </header>
        <main>
            <!-- this is the side bar -->
            <aside>
                <section class="article profile">
                    <img src="/assets/images/testimonial-1.png" alt="profile" />

                    <div>
                        <h2>{{{fullName}}}</h2>
                        <p>{{{tagName}}}</p>
                    </div>
                </section>
                <section>
                    <nav>
                        <ul>
                            <li>
                                <img src="/assets/images/dashboard.svg" alt="dashboard icon" />
                                <p>Dashboard</p>
                            </li>
                            <li>
                                <img src="/assets/images/content.svg" alt="content icon" />
                                <p>Content</p>
                            </li>
                            <li>
                                <img src="/assets/images/pages.svg" alt="pages icon" />
                                <p>pages</p>
                            </li>
                            <li>
                                <img src="/assets/images/report.svg" alt="report icon" />
                                <p>Report</p>
                            </li>
                        </ul>
                    </nav>
                    <button class="btn btn-primary">
                        <img src="/assets/images/back-to-home.svg" alt="back to home" /><span>Back
                            to Home</span>
                    </button>
                </section>
            </aside>
            <!-- This section, you would need to delete all these code, and your own content of the dashboard page youre to build -->
            <section>
                <section class="col-left">
                    <section class="welcome">
                        <header>
                            <div>
                                <h1>Welcome Back,</h1>
                                <p>{{{fullName}}}</p>
                            </div>
                            <select class="btn btn-primary" name="actions" id="">
                                <option value="">Site Actions</option>
                            </select>
                        </header>

                        <section>
                            <div class="top">
                                <div class="image-wrapper">
                                    <img src="/assets/images/published.png" alt="published" />
                                    <span>Published</span>
                                </div>
                                <div>
                                    <h2>Henac Travel Blog</h2>
                                    <div>
                                        <span
                                        >https://mail34780.panthersite.com/henacblablabla</span>
                                        <img src="/assets/images/export.svg" alt="export" />
                                    </div>
                                    <a href="">Personalize Your Domain </a>
                                </div>
                            </div>
                            <span class="bar"></span>
                            <div class="bottom">
                                <div>
                                    <h3>Site Role: Admin</h3>
                                    <p>Invite Users</p>
                                </div>
                                <span class="pipe"></span>
                                <div>
                                    <h3>Site Plan: Basic</h3>
                                    <p>See Plans</p>
                                </div>
                                <span class="pipe"></span>
                                <div>
                                    <h3>Mailbox: Connected</h3>
                                    <p>Mailbox Settings</p>
                                </div>
                            </div>
                        </section>
                    </section>
                    <section class="new-content icon-cards">
                        <header>
                            <h2>Create new Content</h2>
                            <a href=""><span>See all</span><svg
                                    width="18"
                                    height="18"
                                    viewBox="0 0 18 18"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M6.71094 3.05945L11.6009 7.94945C12.1784 8.52695 12.1784 9.47195 11.6009 10.0495L6.71094 14.9395"
                                        stroke="#3698C1"
                                        stroke-width="3"
                                        stroke-miterlimit="10"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    ></path>
                                </svg>
                            </a>
                        </header>
                        <section class="content">
                            <div class="card">
                                <img src="/assets/images/media-black.svg" alt="media icon" />
                                <h4>Media</h4>
                            </div>
                            <div class="card">
                                <img src="/assets/images/menu-black.svg" alt="menu icon" />
                                <h4>Menus</h4>
                            </div>
                            <div class="card">
                                <img src="/assets/images/edit-black.svg" alt="templates icon" />
                                <h4>Templates</h4>
                            </div>
                            <div class="card">
                                <img src="/assets/images/calender-black.svg" alt="events icon" />
                                <h4>Events</h4>
                            </div>
                            <div class="card">
                                <img src="/assets/images/book-black.svg" alt="book icon" />
                                <h4>Blog Posts</h4>
                            </div>
                            <div class="card">
                                <img src="/assets/images/play-black.svg" alt="button icon" />
                                <h4>Buttons</h4>
                            </div>
                        </section>
                    </section>
                    <section class="quick-links icon-cards">
                        <header>
                            <h2>Quicklinks</h2>
                        </header>
                        <section class="content">
                            <div class="card">
                                <img src="/assets/images/copy-black.svg" alt="add new page icon" />
                                <h4>Add new Page</h4>
                            </div>
                            <div class="card">
                                <img src="/assets/images/squares-black.svg" alt="tabs icon" />
                                <h4>Tabs</h4>
                            </div>
                            <div class="card">
                                <img src="/assets/images/media-black.svg" alt="media icon" />
                                <h4>Media</h4>
                            </div>
                            <div class="card">
                                <img src="/assets/images/dashboard-black.svg" alt="Modules icon" />
                                <h4>Modules</h4>
                            </div>
                            <div class="card">
                                <img
                                    src="/assets/images/extension-black.svg"
                                    alt="extensions icon"
                                />
                                <h4>Extensions</h4>
                            </div>
                            <div class="card">
                                <img src="/assets/images/plugins-black.svg" alt="plugin icon" />
                                <h4>Plugins</h4>
                            </div>
                            <div class="card">
                                <img src="/assets/images/share-black.svg" alt="socials icon" />
                                <h4>Socials</h4>
                            </div>
                            <div class="card">
                                <img src="/assets/images/people-black.svg" alt="users icon" />
                                <h4>Users</h4>
                            </div>
                        </section>
                    </section>
                </section>
                <section class="col-right">
                    <section class="quick-draft">
                        <h3>Quick Draft</h3>
                        <form>
                            <input type="text" placeholder="Title.." />
                            <textarea placeholder="What's new?" rows="6"></textarea>
                            <button class="btn btn-primary btn-small">Save Draft</button>
                        </form>
                    </section>
                    <section class="report icon-cards">
                        <header>
                            <h2>Site Report</h2>
                            <a href=""><span>See analytics</span><svg
                                    width="18"
                                    height="18"
                                    viewBox="0 0 18 18"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M6.71094 3.05945L11.6009 7.94945C12.1784 8.52695 12.1784 9.47195 11.6009 10.0495L6.71094 14.9395"
                                        stroke="#3698C1"
                                        stroke-width="3"
                                        stroke-miterlimit="10"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    ></path>
                                </svg>
                            </a>
                        </header>
                        <section>
                            <select>
                                <option value="">From last Month</option>
                            </select>
                        </section>
                        <section>
                            <ul>
                                <li>
                                    <p><span>Sessions</span> <span>6</span></p>
                                </li>
                                <li>
                                    <p><span>Posts</span> <span>4</span></p>
                                </li>
                                <li>
                                    <p><span>Subscribers</span> <span>2</span></p>
                                </li>
                                <li>
                                    <p><span>Upvotes</span> <span>40</span></p>
                                </li>
                                <li>
                                    <p><span>Page Views</span> <span>23</span></p>
                                </li>
                            </ul>
                        </section>
                    </section>
                </section>
            </section>
        </main>
    </body>

</html>