<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- <link rel="stylesheet" href="/assets/css/dashboard.css" /> -->
        <link rel="stylesheet" href="/client/assets/css/dashboard.css" />
        <link rel="stylesheet" href="/client/assets/css/pagesdashboard.css" />
        <title>Dashboard | Panther CMS</title>
    </head>

    <body>
        <!-- Header part of the dashboard -->
        <header>
            <div>
                <div class="logo">
                    <img src="/assets//images/logo.svg" alt="Panther Site Builder logo" />
                    <div>
                        <span>Panther</span>
                        <span>Site Builder</span>
                    </div>
                </div>
                <span class="pipe"></span>
                <select>
                    <option value="">Manage Sites</option>
                </select>
                <span class="pipe"></span>
                <select>
                    <option value="">Explore</option>
                </select>
                <span class="pipe"></span>
                <select>
                    <option value="">Help</option>
                </select>
            </div>
            <div>
                <div class="input-wrapper">
                    <img src="/assets/images/search.svg" alt="search icon" />
                    <input type="search" placeholder="Search" />
                </div>
                <span class="pipe"></span>
                <img src="/assets/images/bell.svg" alt="bell icon" class="bell" />
                <span class="pipe"></span>
                <img
                    src="https://www.w3schools.com/howto/img_avatar.png"
                    alt="profile image"
                    class="profile-image"
                />
            </div>
        </header>
        <main>
            <!-- this is the side bar -->
            <aside>
                <section class="article profile">
                    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="profile" />

                    <div>
                        <h2>{{{fullName}}}</h2>
                        <p>{{{tagName}}}</p>
                    </div>
                </section>
                <section>
                    <nav>
                        <ul>
                            <li>
                                <img src="/assets/images/dashboard.svg" alt="dashboard icon" />
                                <p>Dashboard</p>
                            </li>
                            <li>
                                <img src="/assets/images/content.svg" alt="content icon" />
                                <p>Content</p>
                            </li>
                            <li>
                                <img src="/assets/images/pages.svg" alt="pages icon" />
                                <p>pages</p>
                            </li>
                            <li>
                                <img src="/assets/images/report.svg" alt="report icon" />
                                <p>Report</p>
                            </li>
                        </ul>
                    </nav>
                    <a href="/"><button class="btn btn-primary">
                        <img src="/assets/images/back-to-home.svg" alt="back to home" /><span>Back
                            to Home</span>
                    </button></a>
                </section>
            </aside>
            <!-- This section, you would need to delete all these code, and your own content of the dashboard page youre to build -->
            <section class="main-section">
                <div class="pages-control">
					<h1>Pages</h1>

					<div class="form-row">
						<button>Add New</button>
						
						<form action="">
                            <label for="search">
                                <img src="search-icon.png" alt="">
							    <input type="search" id="search" placeholder="Search Pages">
                            </label>
							<select name="" id=""> 
								<option value="" selected>Page Settings</option>
								<option value="one">One</option>
								<option value="two">Two</option>
								<option value="three">Three</option>
							</select>
						</form>
					</div>
                </div>

				<section class="pages-container">
					<div class="pages-summary">
						<p>All <span>(4)</span></p>
						<p>Published <span>(3)</span></p>
						<p>Draft <span>(3)</span></p>
					</div>

					<div class="pages-filter-control">
						<div>
							<select name="" id="">
                                <option value="" selected>This month</option>
								<option value="">One</option>
								<option value="">Two</option>
								<option value="">Three</option>
							</select>
                            <button>Filter</button>
						</div>
                        <p>4 Items</p>
					</div>
					
					<div class="pages">
						<table>
                            <thead>
                                <tr>
                                    <td>
                                        <input type="checkbox">
                                         Title
                                    </td>
                                    <td>
                                        Author
                                    </td>
                                    <td>
                                        <img src="comment-icon.png" alt="">
                                    </td>
                                    <td>
                                        Date
                                    </td>
                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="checkbox" id="page-1">
                                        <label for="page-1">
                                            <span>A Trip to the Serengeti</span> -- Published, Blogpost Page
                                        </label>
                                    </td>
                                    <td>Henry Isaac</td>
                                    <td>4</td>
                                    <td>
                                        <p>Published</p>
                                        <p>08/07/2021</p>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td>
                                        <input type="checkbox" id="page-2">
                                        <label for="page-2">
                                            <span>Terms and Conditions</span> -- Published, T&C Page
                                        </label>
                                    </td>
                                    <td>Henry Isaac</td>
                                    <td>-</td>
                                    <td>
                                        <p>Published</p>
                                        <p>13/10/2021</p>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td>
                                        <input type="checkbox" id="page-3">
                                        <label for="page-3">
                                            <span>Privacy Policy</span> -- Draft, Privacy Policy Page
                                        </label>
                                    </td>
                                    <td>Henry Isaac</td>
                                    <td>-</td>
                                    <td>
                                        <p>Last Modified</p>
                                        <p>22/03/2022</p>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td>
                                        <input type="checkbox" id="page-4">
                                        <label for="page-4">
                                            <span>8 Must-haves for a Road Travel</span> -- Published, Blogpost Page
                                        </label>
                                    </td>
                                    <td>Henry Isaac</td>
                                    <td>3</td>
                                    <td>
                                        <p>Published</p>
                                        <p>05/04/2022</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="pages-filter-control">
                            <div>
                                <select name="" id="">
                                    <option value="" selected>Bulk Actions</option>
                                    <option value="">One</option>
                                    <option value="">Two</option>
                                    <option value="">Three</option>
                                </select>
                                <button>Apply</button>
                            </div>
                        </div>
					</div>
				</section>
            </section>
        </main>
    </body>

</html>