<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/dashboard.css" />
    <link rel="stylesheet" href="/assets/css/reportdashboard.css" />
    <title>Reports</title>
</head>

<body>
    <header>
        <div>
            <div class="logo">
                <img src="/assets//images/logo.svg" alt="Panther Site Builder logo" />
                <div>
                    <span>Panther</span>
                    <span>Site Builder</span>
                </div>
            </div>
            <span class="pipe"></span>
            <select>
                <option value="">Manage Sites</option>
            </select>
            <span class="pipe"></span>
            <select>
                <option value="">Explore</option>
            </select>
            <span class="pipe"></span>
            <select>
                <option value="">Help</option>
            </select>
        </div>
        <div>
            <div class="input-wrapper">
                <img src="/assets/images/search.svg" alt="search icon" />
                <input type="search" placeholder="Search" />
            </div>
            <span class="pipe"></span>
            <img src="/assets/images/bell.svg" alt="bell icon" class="bell" />
            <span class="pipe"></span>
            <img src="/assets/images/testimonial-2.png" alt="profile image" class="profile-image" />
        </div>
    </header>
    <main>
        <!-- this is the side bar -->
        <aside>
            <section class="article profile">
                <img src="/assets/images/testimonial-1.png" alt="profile" />

                <div>
                    <h2>Henry Issac</h2>
                    <p>@henac_01234</p>
                </div>
            </section>
            <section>
                <nav>
                    <ul>
                        <li>
                            <img src="/assets/images/dashboard.svg" alt="dashboard icon" />
                            <p>Dashboard</p>
                        </li>
                        <li>
                            <img src="/assets/images/content.svg" alt="content icon" />
                            <p>Content</p>
                        </li>
                        <li>
                            <img src="/assets/images/pages.svg" alt="pages icon" />
                            <p>pages</p>
                        </li>
                        <li>
                            <img src="/assets/images/report.svg" alt="report icon" />
                            <p>Report</p>
                        </li>
                    </ul>
                </nav>
                <button class="btn btn-primary">
                    <img src="/assets/images/back-to-home.svg" alt="back to home" /><span>Back to Home</span>
                </button>
            </section>
        </aside>


        <section>
            <div class="content">
                <div class="report">
                    <h1>Full Site Report</h1>
                    <p> Panther site builder offers you free acces to a collection of key aspects of your site activity.
                        <br>
                        Our free report focuses on data-driven KPIs to help you visualize your conversion success as
                        well
                        <br>
                        as to help you make informed decisions. An optimized visitor experience can be the difference
                        <br>
                        to ensuring your overall aim is achieved
                    </p>
                    <section class="box">


                        <section class="topbox">
                            <div class="sessions">
                                <div class="containers">
                                    <img src="/assets/images/forward-10-seconds.svg" alt="" width="100px"
                                        height="100px">
                                    <p>Sessions</p>
                                </div>
                            </div>

                            <div class="subscribers">
                                <div class="containers">
                                    <img src="/assets/images/like.svg" alt="" width="100px" height="100px">
                                    <p>Subscribers</p>
                                </div>
                            </div>
                            <div class="pageviews">
                                <div class="containers">
                                    <img src="/assets/images/eye.svg" alt="" width="100px" height="100px">
                                    <p>Page Views</p>
                                </div>
                            </div>
                        </section>

                        <section class="bottombox">
                            <div class="duration">
                                <div class="containers">
                                    <img src="/assets/images/clock.svg" alt="" width="100px" height="100px">
                                    <p>Avg. Session Duration</p>
                                </div>
                            </div>

                            <div class="emailcapture">
                                <div class="containers">
                                    <img src="/assets/images/sms-tracking.svg" alt="" width="100px" height="100px">
                                    <p>Email Capture</p>
                                </div>
                            </div>
                            <div class="comments">
                                <div class="containers">
                                    <img src="/assets/images/message-text.svg" alt="" width="100px" height="100px">
                                    <p>Comments</p>
                                </div>
                            </div>


                        </section>
                        <button class="analyze">Analyze Website</button>
                    </section>




                </div>

            </div>



        </section>


</body>

</html>